body{
    font-weight: bold;
    font-family:monospace;
    margin:0;
    background-color: #f5dbcb;
}
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4b39eb7;
    padding: 3px;
}
#header h1 {
    font-size: 2.5rem;
    color: #f92a82;
    text-shadow:
        1px 1px 0 #000,
        2px 2px 0 #000,
        3px 3px 0 #000,
        4px 4px 0 #000,
        5px 5px 0 #000,
        6px 6px 0 #000,
        7px 7px 0 #000,
        8px 8px 0 #000,
        9px 9px 0 #000,
        10px 10px 0 #000;
        text-transform: uppercase;
        letter-spacing: 2px;
}
#options{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top:15px;
}
#options button{
    font-size: 4rem;
    width: 100px;
    height:100px;
    border: none;
    border-radius: 40%;
    background-color: hsl(334, 73%, 55%);
    font-weight: bold;
    cursor: pointer;
    color: #000;
    text-shadow: 2px 2px #000
                 4px 4px #fcccfc;
    transition: transform 0.3 ease-out;
    box-shadow: 4px 4px 0 #000;
}
#options button:hover{
    background-color:hsl(334, 86%, 46%); 
    transition: 0.3 ease-out;
    transform: scale(1.2);
}

#options button:active{
    background-color: hsl(334, 82%, 35%);;
}

#roundResultDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    font-size:1.8rem;
}


#display{
    display: flex;
    justify-content:center;
    height:10vh;
    gap: 100px;
    font-size: 2rem;
    padding: 50px;
}

#playerDisplay, #computerDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

#playerOption, #computerOption{
    font-size:3.5rem;
}
#score{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding:20px;
}
#footer{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#restart{
    font-size: 1.2rem;
    height: 130px;
    width: 130px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    text-shadow: 2px 2px #000
                 4px 4px #fcccfc;
    transition: transform 0.3 ease-out;
    box-shadow: 4px 4px 0 #000;
    background-color: hsl(334, 73%, 55%);
}
#restart:hover{
    background-color:hsl(334, 86%, 46%); 
    transition: 0.3 ease-out;
    transform: scale(1.2);
};
#restart button:active{
    background-color: hsl(334, 82%, 35%);
};






