body{
    font-weight: bold;
    font-family:monospace;
    margin:0;
    background-color: #f5dbcb;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5dbcb;
    padding: 10px;
}
#header h1 {
    font-size: 3rem;
    color: #f92a82;
    text-shadow:
        1px 1px 0 #000,
        2px 2px 0 #000,
        3px 3px 0 #000,
        4px 4px 0 #000,
        5px 5px 0 #000,
        6px 6px 0 #000,
        7px 7px 0 #000,
        8px 8px 0 #000,
        9px 9px 0 #000,
        10px 10px 0 #000;
        text-transform: uppercase;
        letter-spacing: 2px;
}

#options{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top:20px;
}
#options button{
    font-size: 5rem;
    width: 150px;
    height:150px;
    border: none;
    border-radius: 50%;
    background-color: hsl(334, 73%, 55%);
    font-weight: bold;
    cursor: pointer;
    color: #000;
    text-shadow: 2px 2px #000
                 4px 4px #fcccfc;
    transition: transform 0.3 ease-out;
    box-shadow: 4px 4px 0 #000;
}

#options button:hover{
    background-color:hsl(334, 86%, 46%); 
    transition: 0.3 ease-out;
    transform: scale(1.2);
}

#options button:active{
    background-color: hsl(334, 82%, 35%);;
}

